body {
  background-color: hsl(0, 0%, 8%);

  font-family: Inter;
}

div {
  background-color: hsl(0, 0%, 12%);
  border-radius: 8px ;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 375px;
  margin: auto;
}

img {
  border-radius: 50%;
  padding: 20px;
  width: 40%;
}

h1 {
  font-weight: 700;
  margin: 0;
}

h1,
button,
p {
  color: white;
}

p {
  font-size: 14px;
  margin-top: 15px;
}

h3 {
  color: hsl(75, 94%, 57%);
  margin-top: 10px;
  font-weight: 400;
}

button {
  background-color: hsl(0, 0%, 20%);

  font-weight: 600;

  padding: 15px;

  width: 300px;
  border-radius: 8px;
  margin: 0px auto 20px auto;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color:black;
   
    
}
